certifi==2022.12.7
chardet==3.0.4
cheroot==8.2.1
CherryPy==18.5.0
idna==2.8
importlib-resources==1.0.2
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.0
jaraco.text==3.2.0
Jinja2==2.11.3
MarkupSafe==1.1.1
more-itertools==8.1.0
portend==2.6
python-dotenv==0.10.5
pytz==2019.3
redis==3.3.11
requests==2.22.0
six==1.14.0
tempora==2.1.0
urllib3==1.25.8
uWSGI==2.0.18
zc.lockfile==2.0
